<form [formGroup]="form">
  <div class="cadastro-div">

    <img src="assets/images/logo.png" alt="Logo" class="logo-img">

    <div class="checkbox-div">
      <input formControlName="mostrarInput" type="checkbox" class="checkbox">
      <label for="checkbox" class="label-checkbox">Criar conta para Centro de treinamento</label>
    </div>


    <div class="input-cadastro">

      <input formControlName="nome" type="text" placeholder="Nome">
      <input formControlName="email" type="email" placeholder="Email">
      <input formControlName="senha" type="password" placeholder="Senha">

      <div *ngIf="form.get('mostrarInput')?.value">
        <input formControlName="descricao" class="richText" type="text" placeholder="Descrição">
      </div>
    </div>

    <label class="label-voltar">Já possui uma conta? <a href="/login">Clique aqui</a></label>

    <button class="botao">Cadastrar</button>
  </div>
</form>

