<div class="div-principal">

  <div class="div-titulo">
      <h4 style="margin: 0px;">Adicionar aluno</h4>
  </div>

    <input [formControl]="emailAluno" type="text" placeholder="digite o email do aluno">
    <button (click)="adicionarAluno(emailAluno.value)" style="margin-left: 40px;">Adicionar</button>



  <div class="div-titulo">
    <h4 style="margin: 0px;">Alunos inscritos no treino</h4>
  </div>

  <div class="lista-nomes">
    @for (aluno of alunos; track aluno) {
      <div>{{aluno.nome}}</div>
    }
  </div>


  <div class="div-titulo">
      <h4 style="margin: 0px;">Selecione um horário abaixo</h4>
      <h4 style="margin: 0;">para visualizar a lista de presença</h4>
  </div>

  <div class="dias-selecionados">
      @for (dia of diasTreinos; track dia) {
        <div class="dia-card">

          <div class="dia-card-span">
            <span>{{getNomeDia(dia.dia)}}</span>
          </div>

          <div class="horarioConjunto">
            @for (horario of dia.horarios; track horario) {
              <span (click)="abrirListaPresenca(dia.dia, horario.codigo)" class="horarioIndividual">{{horario.hora | date:'HH:mm' }}</span>
            }
          </div>

        </div>
      }
  </div>


</div>
