<form [formGroup]="form">
  <div class="principal">
    <h3>Informações do treino</h3>
    <mat-form-field>
      <mat-label>Modalidade</mat-label>
      <mat-select>
        <div class="dropselect-global">
          <mat-option *ngFor="let modalidade of modalidades" [value]="modalidade">
            {{getNomeModalidade(modalidade)}}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>

    <textarea class="descricao-global" placeholder="Descrição do treino" formControlName="descricao"></textarea>

    <label style="font-weight: bold;">Limite de alunos presentes</label>
    <label class="subtitulo">Limite de presença em um único horário</label>


    <div class="limite">
            <input type="number" style="width: 50px;">
    </div>

    <mat-form-field>
      <mat-label>Dias de treino</mat-label>
      <mat-select [formControl]="diaSelecionadoControl" (selectionChange)="adicionarDia()">
        <div class="dropselect-global">
          <mat-option *ngFor="let dia of diasDisponiveis()" [value]="dia">
            {{dia.nome}}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>

    <div class="dias-selecionados">
      @for (dia of diasSelecionados(); track dia) {
        <div class="dia-card">

          <div class="dia-card-span">
            <span>{{dia.nome}}</span>
          </div>

          <div>
            <button class="dia-card-button" mat-icon-button (click)="removerDia(dia.nome)">
              Remover
            </button>
          </div>

          <div class="dia-card-horarios">
            <button class="button-horario" style="background-color: red;">-</button>
            <button class="button-horario" style="background-color: green;">+</button>
          </div>

          <div class="dia-card-horarios" style="background-color: greenyellow;">
            <div>
              teste 1
            </div>
            <div>
              teste 2
            </div>
            <div>
              teste 3
            </div>
            <div>
              teste 4
            </div>
          </div>

        </div>
      }
    </div>

    <div class="botoes">
      <button>Criar</button>
      <button type="button" (click)="fechar()">Fechar</button>
    </div>

  </div>
</form>
