<form>
  <div class="principal">
    <h3>Informações do treino</h3>
    <mat-form-field>
      <mat-label>Modalidade</mat-label>
      <mat-select [formControl]="modalidadeSelecionadoControl">
        <div class="dropselect-global">
          <mat-option *ngFor="let modalidade of modalidadesRestantes" [value]="modalidade">
            {{getNomeModalidade(modalidade)}}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>

    <textarea class="descricao-global" placeholder="Descrição do treino" matInput [formControl]="descricaoControl"></textarea>

    <label style="font-weight: bold;">Limite de alunos presentes</label>
    <label class="subtitulo">Limite de presença em um único horário</label>


    <div class="limite">
            <input matInput [formControl]="limiteControl" type="number" style="width: 50px;">
    </div>

    <mat-form-field>
      <mat-label>Dias de treino</mat-label>
      <mat-select [formControl]="diaSelecionadoControl" (selectionChange)="adicionarDia()">
        <div class="dropselect-global">
          <mat-option *ngFor="let dia of diasDisponiveis()" [value]="dia">
            {{dia.nome}}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>

    <div class="dias-selecionados">
      @for (diaSel of diasSelecionados(); track diaSel) {
        <div class="dia-card">

          <div class="dia-card-span">
            <span>{{diaSel.dataHorario.diaExibicao}}</span>
          </div>

          <div>
            <button class="dia-card-button" mat-icon-button (click)="removerDia(diaSel.dataHorario.diaExibicao, $event)">
              Remover
            </button>
          </div>

          <div class="dia-card-dia">
            <button (click)="onClickRemoverHorario(diaSel.dataHorario, $event)" class="button-horario" style="background-color: red;">-</button>
            <label class="botao-circular" style="background-color: rgb(0, 160, 0);">
              <span>+</span>
              <input type="time" (change)="onTimeChange($event, diaSel.dataHorario)" />
            </label>
          </div>

          <div class="horarioConjunto">
            @for (horario of diaSel.dataHorario.horarios; track horario) {
              <span class="horarioIndividual">{{horario.hora | date:'HH:mm' }}</span>
            }
          </div>

        </div>
      }
    </div>

    <div class="botoes">
      <button (click)="criarTreino()">Criar</button>
      <button type="button" (click)="fechar()">Fechar</button>
    </div>

  </div>
</form>
