.principal{
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 15px;
}

.botoes{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 15px;
  width: 150px;
  gap: 20px;
}

label{
  display: flex;
  justify-content: center;
}

.subtitulo{
  font-size: 12px;
  font-weight: bold;
  color: gray;
}

.limite{
  display: flex;
  justify-content: center;
}

.dias-selecionados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}

.dia-card {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  padding: 8px 8px;
  border-radius: 16px;
  border-style: solid;
  width: 100%;
}

.dia-card-button {
  font-size: 15px;
  color: white;
  background-color: red;
  border-radius: 5px;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dia-card-span {
  font-size: 15px;
  border-radius: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.dia-card-dia{
  border-radius: 4px;
  width: 100%;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.button-horario{
  border-radius: 20px;
  width: 40px;
  height: 40px;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dia-card-horarios{
  border-radius: 4px;
  display: grid;
  justify-content: center;
  gap: 15px;
  grid-template-columns: auto auto auto;
  grid-column-start: 1;
  grid-column-end: 3;
}

.dia-card-horario{

}
