/* You can add global styles to this file, and also import other style files */
:root {
  --fonte-principal: 'Segoe UI', sans-serif;;
  --tamanho-padrao: 16px;
  --cor-primaria: #1e90ff; /* Azul */;
  --cor-primaria-escuro: #344feb; /* Azul mais escuro */;
}

body {
  font-family: var(--fonte-principal);
  font-size: var(--tamanho-padrao);
}

input{
  font-size: medium;
  height: 25px;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button{
  width: 200px;
  max-width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  margin-bottom: 10px;
  font-size:medium;
  font-weight: bold;
}

.dropselect-global{
  background-color: white;
}

.descricao-global{
  background-color: white;
  height: 100px;
  margin: 5px;
}
