/* You can add global styles to this file, and also import other style files */
:root {
  --fonte-principal: 'Segoe UI', sans-serif;;
  --tamanho-padrao: 16px;
  --cor-primaria: #1e90ff; /* Azul */;
  --cor-primaria-escuro: #344feb; /* Azul mais escuro */;
}

body {
  font-family: var(--fonte-principal);
  font-size: var(--tamanho-padrao);
}
